body {
    background-color: #E7E0C9;
}
#search-bar {
    margin-left: 35%;
    margin-top: 2rem;
    width: 60%;
}

#form {
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 2rem;
    display: flex;
    background-color: white;
}

button {
    all: unset;
}

#imgSearch {
    padding: 5px;
}

#query {
    width: 100%;
    height: 2rem;
    all: unset;
    margin-left: 2%;
}

#adaugareAngajat {
    background-color: #C1CFC0;
    margin-left: 20%;
    margin-top: 3rem;
    width: 55%;
    border: 1px solid black;
}

#formAdaugare, h3 {
    padding: 10px;
}

h3{
    padding-top: 5px;
    text-decoration: underline;
    font-size: 20px;
}

#titluAdauga {
    margin-left: 37%;
}

#div1 {
    display: flex;
}

#div2 {
    display: flex;
}

#div1 div {
    display: flex;
}

#div2 div {
    display: flex;
}

.inputDiv {
    margin-right: 4%;
}

.inputDown {
    margin-top: 3%;
}

.inputAngajat {
    margin-right: 3%;
}

#nume, #prenume, #email, #sex, #dataNasterii, #poza {
    margin-left: 2%;
}

#sex, #dataNasterii, #poza {
    margin-top: 5%;
}

#email {
    width: 60%;
}

#dataNasterii {
    width: 70%;
}

#formAdaugare label{
    width: 50%;
}

#labelPoza, #labelDataNasterii, #labelSex {
    margin-top: 5%;
}

#submitButton {
    border: 1px solid black;
    background-color: #6B7AA1;
    margin-top: 1rem;
    margin-left: 45%;
    padding: 0.5%;
    border-radius: 10px;
}

#sortFilter {
    margin-left: 35%;
    display: flex;
}

#sortare, #filtrare {
    display: flex;
}

#selectSort {
    margin-top: 30%;
}

table, th, td {
    border: 2px solid #11324D;
    border-collapse: collapse;
}

#tabelAngajati{
    width: 68%;
    margin-left: 15%;
    margin-top: 1rem;
}

td, th {
    width: 20%;
}

th {
    background-color: #6B7AA1;
}

.td-paddings {
    padding-left: 3rem;
    padding-right: 1rem;
}

#imageEmployee {
    margin-right: 10%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#icon-name {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.recycleBin {
    width: 20px; 
    height: 20px;
    margin-left: 35%;
}

@media screen and (max-width: 1200px){
    #div1 {
        display: block;
    }

    #div2 {
        display: block;
    }

    .inputDiv {
        margin-top: 3%;
    }

    #email {
        width: 28%;
    }

    #dataNasterii {
        width: 30%;
    }

    #sortFilter {
        margin-left: 27%;
    }

    #tabelAngajati {
        width: 40%;
        margin-left: 7%;
    }
}

@media screen and (max-width: 900px){
    #email {
        width: 28%;
    }

    #dataNasterii {
        width: 40%;
    }

    #tabelAngajati {
        width: 30%;
        margin-left: 1%;
    }

    #sortFilter {
        margin-left: 25%;
    }
}
@media screen and (max-width: 800px) {
    #titluAdauga {
        margin-left: 30%;
    }

    #email {
        width: 40%;
    }

    .td-paddings {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #sortFilter {
        margin-left: 20%;
    }

    #tabelAngajati {
        width: 10%;
        margin-left: 0;
    }
}
@media screen and (max-width: 650px) {
    #search-bar {
        width: 85%;
    }

    #adaugareAngajat {
        margin-left: 25%;
    }
    
    #titluAdauga {
        margin-left: 20%;
    }

    #email {
        width: 50%;
    }

    #dataNasterii {
        width: 70%;
    }

    #submitButton {
        margin-left: 35%;
    }

    #sortFilter {
        margin-left: 15%;
    }

    #tabelAngajati {
        width: 5%;
    }
}

@media screen and (max-width: 450px) {
    #search-bar {
        width: 120%;
    }

    #adaugareAngajat {
        margin-left: 30%;
    }
    
    #titluAdauga {
        margin-left: 20%;
    }

    #email, #nume, #prenume {
        width: 50%;
    }

    #dataNasterii {
        width: 90%;
    }

    #submitButton {
        margin-left: 35%;
    }

    #tabelAngajati {
        width: 5%;
    }

    #sortFilter {
        margin-left: 0%;
    }
}
