body {
    background-color: #E7E0C9;
}
#search-bar {
    margin-left: 35%;
    margin-top: 2rem;
    width: 60%;
}

#form {
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 2rem;
    display: flex;
    background-color: white;
}
#query {
    width: 100%;
    height: 2rem;
    all: unset;
    margin-left: 2%;
}

button {
    all: unset;
 }

 #imgSearch {
     padding: 5px;
 }

#adaugareAngajat {
    background-color: #C1CFC0;
    margin-left: 20%;
    margin-top: 3rem;
    width: 55%;
    border: 1px solid black;
}


.inputAngajat {
    margin-right: 3%;
}

#sex, #dataNasterii, #poza {
    margin-top: 5%;
}

#formAdaugare, h3{
    padding: 10px;
}

h3{
    padding-top: 5px;
    text-decoration: underline;
    font-size: 20px;
}

#titluAdauga {
    margin-left: 37%;
}

#submitButton {
    border: 1px solid black;
    background-color: #6B7AA1;
    margin-top: 1rem;
    margin-left: 45%;
    padding: 0.5%;
    border-radius: 10px;
}

table, th, td {
    border: 2px solid #11324D;
    border-collapse: collapse;
}

td, th{
    width: 20%;
}

th {
    background-color: #6B7AA1;
}
#tabelAngajati{
    width: 68%;
    margin-left: 15%;
    margin-top: 1rem;
}

.recycleBin {
    width: 20px; 
    height: 20px;
    margin-left: 45%;
}

#icon-name{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.td-paddings {
    padding-left: 3rem;
    padding-right: 1rem;
}

#imageEmployee {
    margin-right: 10%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#div1{
    display: flex;
}
#div2{
    display: flex;
}

#div1 div{
    display: flex;
}
#div2 div{
    display: flex;
}

#sortFilter{
    margin-left: 35%;
}

.inputDiv {
    margin-right: 4%;
}

#nume, #prenume, #email, #sex, #dataNasterii, #poza{
    margin-left: 2%;
}

#email{
    width: 60%;
}
#formAdaugare label{
    width: 50%;
}

.inputDown{
    margin-top: 3%;
}

#labelPoza, #labelDataNasterii, #labelSex{
    margin-top: 5%;
}

@media screen and (max-width: 1200px){
    .inputDiv {
        margin-top: 3%;
    }
    #div1{
        display: block;
    }
    #div2{
        display: block;
    }
    #sortFilter{
        margin-left: 30%;
    }
    #tabelAngajati{
        width: 40%;
        margin-left: 7%;
    }
    #email{
        width: 28%;
    }
}

@media screen and (max-width: 900px){
    #tabelAngajati{
        width: 30%;
        margin-left: 1%;
    }
    #email{
        width: 28%;
    }
}
@media screen and (max-width: 800px) {
    #titluAdauga {
        margin-left: 30%;
    }
    #email{
        width: 40%;
    }
    #sortFilter{
        margin-left: 20%;
    }
    #tabelAngajati{
        width: 10%;
        margin-left: 0;
    }
    .td-paddings {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}
@media screen and (max-width: 650px) {
    #search-bar {
        width: 85%;
    }
    #email{
        width: 50%;
    }
    #tabelAngajati{
        width: 5%;
    }
    #adaugareAngajat {
        margin-left: 25%;
    }
    #titluAdauga {
        margin-left: 20%;
    }
    #submitButton{
        margin-left: 35%;
    }
    #titluAdauga {
        margin-left: 20%;
    }
    #sortFilter{
        margin-left: 15%;
    }
}

